{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 39.58125245,
    "longitude": 2.7092683401782343,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Thuis",
    "time_zone": "Europe/Amsterdam",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "ES",
    "language": "en",
    "radius": 100
  }
}