PG_USER=postgres
PG_PASSWORD=postgrespassword
PG_DB=zero

JWT_SECRET=IllTellYouWhatIWantWhatIReallyReallyWant

HOME_ASSISTANT_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI1MjhlMjFlNGRhOWU0MjIxOTYzNWM1ZmEzMWY3NzU2MSIsImlhdCI6MTc0NzYzNTIwNywiZXhwIjoyMDYyOTk1MjA3fQ._hhKjryBk7KV38-3-nky_8SQIVoxKZ2w55uMeDoiFy0
