VITE_GRAPHQL_URL=http://localhost:5100/v1/graphql
VITE_GRAPHQL_SERVER=http://localhost:5100/v1
VITE_GRAPHQL_WS_URL=ws://localhost:5100/v1/graphql
VITE_GRAPHQL_WS_SERVER=ws://localhost:5100/v1
# You can find or generate the token in the Zero Domestic Control repository: 
# https://github.com/foundation-zero/zero/tree/main/zero-domestic-control
VITE_GRAPHQL_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwczovL2hhc3VyYS5pby9qd3QvY2xhaW1zIjp7IngtaGFzdXJhLWRlZmF1bHQtcm9sZSI6InVzZXIiLCJ4LWhhc3VyYS1hbGxvd2VkLXJvbGVzIjpbInVzZXIiXX19.8brSVzCMabnkuvgO4ipCVAPaAWieM3sqWADXoUxgmEA
VITE_GRAFANA_URL=https://grafana.example.com
VITE_SAIL_SYSTEM_URL=https://sail.example.com
PLAYWRIGHT_TEST_BASE_URL=http://localhost:5173
VITE_DEMO_MODE=0
VITE_THRS_WS_SERVER=ws://localhost:8081
VITE_THRS_API_SERVER=http://localhost:8001
VITE_THRS_API_SERVER_URL=/api/thrs/graphql
VITE_LOADS_API_SERVER=http://localhost:5101
VITE_LOADS_API_SERVER_URL=/api/loads/graphql
VITE_INCLUDE_APPS=thrs,loads,domestic
VITE_MANUAL_MODE_PWD=