IOLINK_HOST= # Hostname or IP address of the IO-Link master
IOLINK_PORT= # Port number of the IO-Link master (80 is expected)
MODBUS_HOST= # Hostname or IP address of the Modbus server
MODBUS_PORT= # Port number of the Modbus server (502 is expected)
TWINCAT_SELF_NETID= # NetID of the process
TWINCAT_IP= # IP address of the TwinCAT PLC
TWINCAT_NETID= # NetID of the TwinCAT PLC
TWINCAT_USERNAME=Administrator
TWINCAT_PASSWORD=1
TWINCAT_ROUTE_NAME= # Route name to reach the TwinCAT PLC
MQTT_HOST=
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
