
PG_HOST=postgres-cluster-rw.postgres.svc.cluster.local
PG_HOST_DOCKER=postgres-cluster-rw.postgres.svc.cluster.local
PG_PORT=5432
PG_USER=app
PG_PASSWORD=Iox6eJGVYqycT3e6mq8UJsEV5YGYfhIvvnycguDHMRrN6d9w0vytHP9t6YSUmfEO
PG_DB=domestic_control

MQTT_PROTOCOL=mqtt
MQTT_HOST=vernemq.vernemq.svc.cluster.local
MQTT_PORT=1883

GCS_BUCKET_NAME=dev-risingwave-data
GCS_CREDENTIAL=service-account-key
