# Postgres
PG_HOST=postgres
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgrespassword
PG_DB=zero

# VerneMQ
MQTT_HOST=localhost
MQTT_PORT=1883

# Greptime
GREPTIME_URL=mysql://app@localhost:4002/public

# Hasura
JWT_SECRET=IllTellYouWhatIWantWhatIReallyReallyWant

# Hass
HOME_ASSISTANT_URL=http://localhost:8123/api
HOME_ASSISTANT_WS_URL=ws://localhost:8123/api/websocket
HOME_ASSISTANT_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI1MjhlMjFlNGRhOWU0MjIxOTYzNWM1ZmEzMWY3NzU2MSIsImlhdCI6MTc0NzYzNTIwNywiZXhwIjoyMDYyOTk1MjA3fQ._hhKjryBk7KV38-3-nky_8SQIVoxKZ2w55uMeDoiFy0

# Termodinamica
AIR_CONDITIONING_HOST=localhost
AIR_CONDITIONING_PORT=1502

VENTILATION_HOST=localhost
VENTILATION_PORT=1503
