# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

# Ignore all .storage folders recursively
**/.storage/

.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

# Log files
home-assistant.log
home-assistant.log.*

# Database files
home-assistant_v2.db-shm
home-assistant_v2.db-wal

# Environments
.env
