# Postgres
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgrespassword
PG_DB=zero

# VerneMQ
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=

# Hasura
JWT_SECRET=IllTellYouWhatIWantWhatIReallyReallyWant

# CANbus Adapter
CANBUS_IP=127.0.0.1
CANBUS_PORT=55001
CANBUS_BUFFER_SIZE=1024

ENV=development # Also the default
